.leftTopContainer {
  flex: 0.2;
  background-color: white;
  padding: 5px;
  margin: 10px;
  border-radius:10px ;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}