.middleTopContainer {
  flex: 0.6;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: white;
}

.middleTopContainer > img {
  width: 100%;
}

.buttonSlideContainer {
  display: flex;
  /* margin-top: -20px; */
}

.leftButton:hover {
  display: block;
}

.leftButton .MuiSvgIcon-root {
  color: white;
  padding: 6px;
  background-color: black;
  border-radius: 50%;
}

.rightButton .MuiSvgIcon-root {
  color: white;
  padding: 6px;
  background-color: black;
  border-radius: 50%;
}
